*{
	margin: 0px;
	padding: 0px;
}
body,html{
	width: 100%;
	height: 100%;
	position: relative;
}
div#box{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	background: red;
	text-align:center;
	transition: 1s transform;
	font:20px/20px "arial";
}
div#arrow{
	width:20px;
	height:100px;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
	color:#fff;
	font:50px/100px arial;
	background:#fff;
}
span#textOut{
	font:50px/100px arial;
	color:#fff;
}
