*{
	margin: 0px;
	padding: 0px;
}
body,html{
	width: 100%;
	height: 100%;
	position: relative;
}
div#box{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	background: red;
	text-align:center;
	transition: 1s transform;
}
